<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>Twitter: Home</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstraps.min.css') }}" type="text/css"/>

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}" type="text/css"/>

	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/offcanvas.css') }}" type="text/css"/>

	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script type="text/javascript" src="{{ url_for('static', filename='js/ie-emulation-modes-warning.js') }}"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<style media="screen">
	.email-list {
	  background: #ffffff;
	}
	.email-list-item {
	  border-bottom: 1px solid #e6e6e6;
	  padding: 14px 20px;
	  display: table;
	  width: 100%;
	  cursor: pointer;
	  position: relative;
	  background-color: #fafafa;
	}
	.email-list-item.email-list-item--unread {
	  background-color: #ffffff;
	}
	.email-list-item.email-list-item--unread:after {
	  content: '';
	  display: block;
	  position: absolute;
	  width: 3px;
	  top: -1px;
	  bottom: -1px;
	  left: 0;
	  background-color: #4285f4;
	}
	.email-list-item.email-list-item--unread .from,
	.email-list-item.email-list-item--unread .date {
	  font-weight: 500;
	}
	.email-list-item .icon {
	  margin-right: 7px;
	  font-size: 15px;
	  vertical-align: middle;
	  color: #666666;
	}
	.email-list-item .from {
	  display: block;
	  font-weight: 400;
	  font-size: 13px;
	  margin: 0 0 3px 0;
	}
	.email-list-item .msg {
	  margin: 0;
	  color: #737373;
	}
	.email-list-item:hover {
	  background-color: #f7f7f7;
	}
	.email-list-detail,
	.email-list-actions {
	  vertical-align: top;
	  display: table-cell;
	}
	.email-list-actions {
	  width: 40px;
	}
	.email-list-actions .be-checkbox {
	  padding: 0;
	}
	.email-list-actions .favorite {
	  display: block;
	  padding-top: 5px;
	  padding-left: 3px;
	  line-height: 15px;
	}
	.email-list-actions .favorite span {
	  font-size: 20px;
	  line-height: 17px;
	  color: #c0c0c0;
	}
	.email-list-actions .favorite:hover span {
	  color: #8d8d8d;
	}
	.email-list-actions .favorite.active span {
	  color: #FFC600;
	}
	.margin-left-status {
		margin-left: 40px;
	}
	</style>
</head>

<body>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ url_for('index') }}">Twitter Application</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="{{ url_for('index') }}">Home</a></li>
					<li><a href="{{ url_for('profile') }}">Profile</a></li>
					<li><a href="{{ url_for('logout') }}">Logout</a></li>
				</ul>
			</div><!-- /.nav-collapse -->
		</div><!-- /.container -->
	</nav><!-- /.navbar -->

	<div class="container">

		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="form-group xs-pt-10">
							<form action="{{ url_for('update_status') }}" method="POST">
								<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
								<div class="form-group">
									<input id="status" name="status" type="text" placeholder="Update status" autocomplete="off" class="form-control">
								</div>
								<div class="form-group login-submit text-right">
									<button data-dismiss="modal" type="submit" class="btn btn-primary btn-xl">Update</button>
								</div>
							</form>
						</div>
					</div>
				</div>

				{% for status in list_status %}
					{% if status.user_id == user_id %}
						<div class="email-list-item email-list-item text-right" style="background-color:#dff0d8;">
							<div class="email-list-detail xs-pl-15">
								<span class="from" style="font-size:18px; margin-right:15px;">{{ status.user.name }}</span>
								<p class="msg" style="margin-right:15px;">{{ status.status }}</p>
							</div>
							<div class="email-list-actions">
								<img src="{{ status.user.path_image }}" class="img-circle img-responsive" height="42" width="42">
							</div>
						</div>
						<br>
					{% else %}
						<div class="email-list-item email-list-item text-left" style="">
							<div class="email-list-actions">
								<img src="{{ status.user.path_image }}" class="img-circle img-responsive" height="42" width="42">
							</div>
							<div class="email-list-detail xs-pl-15">
								<span class="from" style="font-size:18px; margin-left:15px;">{{ status.user.name }}</span>
								<p class="msg" style="margin-left:15px;">{{ status.status }}</p>
							</div>
						</div>
						<br>
					{% endif %}

				{% endfor %}

			</div>
		</div>

		<footer>
			<p>&copy; 2017 Pixel Studio, Inc.</p>
		</footer>

	</div><!--/.container-->


	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/offcanvas.js') }}"></script>
</body>
</html>
