<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">
    <title>Twitter: Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
</head>
<body class="be-splash-screen">
    <div class="be-wrapper be-login">
        <div class="be-content">
            <nav class="navbar navbar-fixed-top navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand text-center" href="{{ url_for('index') }}">Twitter Application</a>
                    </div>
                </div><!-- /.container -->
            </nav><!-- /.navbar -->

            <div class="main-content container-fluid">
                <div class="splash-container">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h2>Login</h2></div>
                        <div class=""><h4 align='center' style="color:red">{{ status_log }}</h4></div>
                        <div class="panel-body">
                            <form action="{{ url_for('login') }}" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div class="form-group">
                                    <input id="username" name="email" type="text" placeholder="Email" autocomplete="off" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input id="password" name="password" type="password" placeholder="Password" class="form-control">
                                </div>
                                <div class="form-group login-submit">
                                    <button data-dismiss="modal" type="submit" class="btn btn-primary btn-xl">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><h2>Register</h2></div>
                        <div class=""><h4 align='center'>{{ status_reg }}</h4></div>
                        <div class="panel-body">
                            <form action="{{ url_for('register') }}" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div class="form-group">
                                    <input id="email" name="email" type="text" placeholder="Email" autocomplete="off" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input id="name" name="name" type="text" placeholder="Name" autocomplete="off" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input id="password" name="password" type="password" placeholder="Password" class="form-control">
                                </div>

                                <div class="form-group login-submit">
                                    <button data-dismiss="modal" type="submit" class="btn btn-primary btn-xl">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
