<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>Twitter: Profile</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstraps.min.css') }}" type="text/css"/>

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}" type="text/css"/>

	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/offcanvas.css') }}" type="text/css"/>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ url_for('index') }}">Twitter Application</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="{{ url_for('index') }}">Home</a></li>
					<li class="active"><a href="{{ url_for('profile') }}">Profile</a></li>
					<li><a href="{{ url_for('logout') }}">Logout</a></li>
				</ul>
			</div><!-- /.nav-collapse -->
		</div><!-- /.container -->
	</nav><!-- /.navbar -->

	<div class="container">
		<div class="row">
			<div class="panel-heading">
				<div class="panel-body">
    			  <div class="row">
    				<div class="col-md-3 col-lg-3 " align="center">
    					<img alt="No User Pic" src="{{ user.path_image }}" class="img-circle img-responsive" height="160" width="160">
    					<br>
    					<div class="form-group login-submit text-center">
							<!--<a class="btn btn-primary btn-xl" href="javascript:" onclick="openModalUpload()">Upload</a>-->
							<a class="btn btn-primary btn-xl" id='upload'>Upload</a>
    					</div>

						<form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" id="upload_forms">
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
							<div class="form-group">
								<input id="file" name="file" type="file" placeholder="File" autocomplete="off" class="form-control">
							</div>
							<div class="form-group login-submit">
								<button data-dismiss="modal" type="submit" class="btn btn-primary btn-xl">Save</button>
								<a class="btn btn-primary btn-xl" id='cancel'>Cancel</a>
							</div>
						</form>

    				</div>

    				<div class=" col-md-9 col-lg-9 ">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="form-group xs-pt-10">
		    						<h4>{{ user.status }}</h4>
		    						<form class="" action="{{ url_for('profile') }}" method="POST">
										<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		    							<div class="form-group">
		    								<input id="name" name="name" type="text" value="{{ user.name }}" autocomplete="off" class="form-control">
		    							</div>
										<div class="form-group">
											<input id="email" name="email" type="text" value="{{ user.email }}" autocomplete="off" class="form-control">
											<input id="email_hide" name="email_hide" type="hidden" value="{{ user.email }}" autocomplete="off" class="form-control">
										</div>
		    							<div class="form-group">
		    								<input id="password" name="password" type="password" placeholder="Password" class="form-control">
		    							</div>

		    							<div class="form-group login-submit text-right">
		    								<button data-dismiss="modal" type="submit" class="btn btn-primary btn-xl">Save</button>
		    							</div>
		    						</form>
		    					</div>
							</div>
						</div>
    				</div>
    			  </div>
    			</div>
			</div>
		</div>

		<footer>
			<p>&copy; 2017 Pixel Studio, Inc.</p>
		</footer>

	</div><!--/.container-->

	<!-- Bootstrap core JavaScript
	================================================== -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

	<!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/offcanvas.js') }}"></script>

	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script type="text/javascript" src="{{ url_for('static', filename='js/ie-emulation-modes-warning.js') }}"></script>


	<script type="text/javascript">

		$(document).ready(function(){
			$("#upload").show();
			$("#upload_forms").hide();

			$("#cancel").click(function(){
				$("#upload").show();
				$("#upload_forms").hide();
			});

			$("#upload").click(function(){
				$("#upload_forms").show();
				$("#upload").hide();
			});
		});

	</script>
</body>
</html>
